{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
<h1>Who I am</h1>
<div>My name is <b>André Lisboa</b>, and I've been composing since <b>2016</b>.</div>
<div>I was born the <b>29th of January 1998</b>, in the city of <b>Setúbal</b>, <b>Portugal</b>.</div>
<div>Alongside composing, I also play <b>piano</b>, <b>violin</b>, <b>recorder</b> and <b>percussion</b>.</div>

<h1>My journey so far</h1>
<div>I began my musical learning in 2007, at 9 years old.</div>
<div>
    My first attempts at composing started that same year, however I consider my first more serious works to
    have been written around 2016, when I was 18.
</div>
<div>
    That same year is also when I began my studies in Music Composition at Escola Superior de Música de Lisboa (Lisbon
    School of Music),
    where I graduated in 2019. I studied under the guidance of:
</div>
<ul>
    <li>Prof. João Madureira</li>
    <li>Prof. Sérgio Azevedo</li>
    <li>Prof. Luís Tinoco</li>
    <li>Prof. Roberto Pérez</li>
    <li>Prof. Carlos Caires</li>
    <li>Prof. Carlos Marecos</li>
    <li>Prof. José Luís Ferreira †</li>
    <li>Prof. Jaime Reis</li>
</ul>
<div>
    Also, during my time at ESML, I had the opportunity to attend some lectures by people such as:
</div>
<ul>
    <li>John Psathas</li>
    <li>John Chowning, inventor of FM synthesis</li>
    <li>Prof. Christopher Bochmann</li>
</ul>
<div>
    Nowadays, I specialize in composing for young student ensembles, community bands and choirs.
</div>

<h1>My influences</h1>
<div>
    My musical influences are fairly varied, some of the most notable being:
</div>
<ul>
    <li>Baroque music in general</li>
    <li>Late Renaissance music, such as madrigals, motets, villancicos and keyboard music.</li>
    <li>20th century composers such as Béla Bartók, Igor Stravinsky and Einojuhani Rautavaara.</li>
    <li>Non-classical music, such as <b>Jazz</b>, <b>Folk</b> of multiple origins, and <b>movie/videogame scores</b>.
    </li>
</ul>

<h1>My history of commissions</h1>
<h2>Colégio Valsassina (2017)</h2>
<div>A small "popular march", in the style of Lisbon's tradition.</div>
<h2>Ensemble DARCOS (2019, premiere in 2020)</h2>
<div>
    <b>"Poema Sonoro nº1"</b> <i>(Sound Poem no.1)</i> for string trio and piano.
    This piece is an hommage to my late maternal grandmother, who was a major motivational force in my musical journey.
</div>
<h2>Coral Luísa Todi (2021)</h2>
<div>
    An arrangement of five hit songs well known in Portugal, for mixed choir, piano and rock band:
</div>
<ul>
    <li>"Tento Saber", Ala dos Namorados</li>
    <li>"Solta-se o Beijo", Ala dos Namorados</li>
    <li>"Caçadores de Sóis", Ala dos Namorados</li>
    <li>"É Pr'Amanhã", António Variações</li>
    <li>"No Teu Poema", José Luís Tinoco (as sung by Dulce Pontes)</li>
</ul>
<h2>Banda de Música da Sociedade Musical Capricho Setubalense <i>(Community Wind Band)</i> (2019, 2021-2022)</h2>
<div>
    Several donated arrangements of popular Portuguese songs, and some donated original compositions:
</div>
<ul>
    <li>Arrangement of "Never Enough" from "The Greatest Showman"</li>
    <li>"Força das Gentes" <i>(Strength of the People)</i>, from the symphonic album PORTUGAL. (Piece with references to the Carnation Revolution and some associated songs.) </li>
    <li>"Rapsódia sobre Zeca Afonso", a rhapsodic medley on known songs by the interventionist/revolutionary songwriter José Afonso</li>
    <li>"Manhã Maravilhosa", a short symphonic piece based on a Christian hymn's melody.</li>
</ul>
<h2>Banda Municipal do Barreiro (2022)</h2>
<div>
    "Deus ex Machina", a piece in three movements for wind band inspired by that city's industrial history. Its title is a pun on the
    term "Machina" (Machine), as Barreiro was once a major industrial hub in Portugal.
</div>
<h2>Banda da Sociedade Filarmónica Humanitária (2025)</h2>
<div>
    "Destiny's own Threads", a symphonic ouverture for wind band inspired by the concept of fate and destiny, and how everybody
    has their own path to follow in life. Heavily inspired by movie soundtrack composers Joe Hisaishi and John Williams.
</div>


{% endblock %}